.error404 {
	background: $deep-purple;
	#main {
        padding-top: 80px;
        
        @include media('>=desktop') {
            padding-top: 120px;
        }
    }
    
    .btn {
    	&:hover {
    		background: darken($primary, 10%);
    	}
    }
}