.accordion {
	&-list {
		border-bottom: 2px solid $white;
		&.active {
			h3 {
				&:before {
					transform: translateY(-50%) rotate(-45deg);
					margin-top: 0;
				}
			}
		}
		h3 {
			padding: 22px 40px 22px 0 ;
			margin-bottom: 0;
			cursor: pointer;
			position: relative;
			font-size: 18px;
			transition: 0.3s ease;
			@include media('>=tablet') {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				padding: 24px 40px 24px 0;
			}
			&:hover {
				color: rgba($white, 0.5);
			}
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				right: 15px;
				width: 20px;
				height: 20px;
				transform: translateY(-50%) rotate(136deg);
				border-width: 2px 2px 0 0;
				border-style: solid;
				border-color: $white $white transparent transparent;
				margin-top: -7px;
			}
		}

		.slide {
			display: none;
			padding-right: 50px;
			@include media('>=desktop') {
				padding-right: 0;
			}

			p {
				margin-bottom: 29px;
				max-width: 860px;
				&:last-child {
					// margin-bottom: 0;
				}
			}
		}
	}
}