.cta-block {
	&-wrap {
		padding: 40px 30px;
		border-radius: 30px;
		max-width: 1110px;
		margin: 0 auto;

		@include media('>=desktop') {
			padding: 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.text-wrap {
			max-width: 565px;
			h2 {
				margin-bottom: 21px;
			}
			p {
				&:last-child {
					@include media('>=desktop') {
						margin: 0;
					}
				}
			}
		}

		.btn-wrap {
			text-align: center;
			@include media('>=desktop') {
				text-align: left;
				padding-left: 20px;
			}
		}
	}
}