#footer {
	color: $white;
	background: $black;
	padding: 82px 0 63px;

	@include media('>=desktop') {
		padding: 100px 0;
	}

	.container {
		max-width: 1150px;
	}

	a {
		color: $white;

		&:hover {
			color: $primary;
		}
	}

	ul {
		@extend %listreset;

		&.address {
			text-align: center;

			@include media('>=desktop') {
				text-align: left;
			}
			li {
				margin-bottom: 34px;
				position: relative;

				@include media('>=desktop') {
					margin-bottom: 35px;
				}
				a {
					text-decoration: underline;
					font-weight: 600;
					position: relative;
					display:inline-block;
					vertical-align:top;
					padding-left: 47px;

					img {
						position: absolute;
						top: 0;
						left: 0;
						max-width: 29px;
					}

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		&.social-networks {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: 19px;

			@include media('>=desktop') {
				justify-content: flex-start;
				padding-top: 0;
			}

			li {
				& + li {
					margin-left: 15px;
					@include media('>=desktop') {
						margin-left: 20px;
					}
				}

				a {
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}

	.footer-top {
		margin-bottom: 40px;
		font-size: 16px;

		@include media('>=desktop') {
			margin-bottom: 51px;
		}

		.title {
			display: block;
			margin-bottom: 23px;
		}

		.col {
			width: 100%;
			flex-grow: 0;
			flex-basis: inherit;
		}

		.col-quick-links,
		.col-address{
			position: relative;

			&:before,
			&:after {
				content:"";
				position: absolute;
				left: 15px;
				right: 15px;
				height: 2px;
				// background: rgba($white, 0.2);

				@include media('>=desktop') {
					display: none;
				}
			}

			&:before {
				top: 0;
			}

			&:after {
				bottom: 0;
			}
		}

		.col-logo {
			order: -1;
			margin-bottom: 52px;

			@include media('>=desktop') {
				order: 0;
				width: 30%;
				margin-bottom: 0;
			}

			@include media('>=widescreen') {
				width: 35%;
			}

			.footer-logo {
				max-width: 148px;
				margin: 0 auto;

				@include media('>=desktop') {
					margin: 0;
				}
			}
		}

		.col-menu {
			width: 50%;
			@include media('>=desktop') {
				width: 22%;
			}
			ul {
				li {
					margin-bottom: 23px;
					position: relative;
					z-index: 0;
					@include media('>=desktop') {
						margin-bottom: 24px;
					}

					&.menu-item-has-children {
						> a {
							position: relative;
							z-index: 1;
						}

						.arrow {
							position: absolute;
							top: 0;
							right: auto;
							font-size: 0;
							width: 26px;
							height: 19px;
							z-index: 1;

							&:before {
								content:"";
								position: absolute;
								top: 50%;
								right: 6px;
								width: 8px;
								height: 8px;
								border-width: 1px 1px 0 0;
								border-style: solid;
								border-color: $white $white transparent transparent;
								margin: -7px 0 0;
								transform: rotate(136deg);
								transition: transform 0.4s ease;

								@include media('>desktop') {

								}
							}
						}

						&.submenu-active {
							.arrow {
								&:before{
									margin-top: -3px;
									transform: rotate(-45deg);
									border-color: $white $white transparent transparent;
								}
							}
						}

						ul {
							display: none;
							margin: 20px 0;
							padding-left: 20px;
						}
					}
					a {}
				}

				ul {
					li {
						margin-bottom: 15px;
					}
				}
			}
		}

		.col-address {
			order: -1;
			padding-bottom: 41px;
			margin-bottom: 41px;

			@include media('>=desktop') {
				order: 0;
				width: 26%;
				padding-bottom: 0;
				margin-bottom: 0;
			}

			@include media('>=widescreen') {
				width: 21%;
			}

			&:before {
				display: none;
			}
		}

		.col-quick-links {
			padding-top: 40px;
			margin-top: 20px;
			padding-bottom: 44px;

			@include media('>=desktop') {
				margin-top: 0;
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}

	.footer-bottom {
		font-size: 14px;
		color: rgba($white, 0.5);

		a {
			color: rgba($white, 0.5);

			&:hover {
				color: $primary;
			}
		}

		.row {
			@include media('>=desktop') {
				justify-content: flex-end;
				padding-right: 7%;
			}
		}

		.col {
			flex-grow: 0;
			flex-basis: inherit;
			width: 43%;

			@include media('>=desktop') {
				width: auto;
			}

			& + .col {
				@include media('>=desktop') {
					margin-left: 20px;
				}
			}
		}

		.col-design {
			width: 57%;

			@include media('>=desktop') {
				width: auto;
			}
		}

		.col-copyright {
			order: 1;
			text-align: center;
			margin-top: 29px;
			width: 100%;

			@include media('>=desktop') {
				text-align: left;
				order: 0;
				margin-top: 0;
				width: auto;
			}
		}
	}
}