.half-content-half-image-block {
	&.no-image-border {
		.col-image {
			.img-wrap {
				@include media('>=desktop') {
					border: none !important;
				}
			}
		}
	}

	&.has-dots-top{
		@include media('>=desktop') {
			padding-top: 140px !important;
		}

		// .dots {
		// 	@include media('>=desktop') {
		// 		top: -120px;
		// 	}
		// }

		.dots1 {
			@include media('>=desktop') {
				// top: -40px;
				// top: -80px;
				top: -120px;
				left: 68%;
			}
		}
	}

	&.has-dots-bottom{
		@include media('>=desktop') {
			padding-bottom: 300px !important;
		}

		.dots2 {
			@include media('>=desktop') {
				bottom: -300px;
				left: 68%;
			}
		}
	}

	&.img-right {
		&.has-dots-top {
			.dots1 {
				@include media('>=desktop') {
					// left: 27%;
					left: 25%;
				}
			}
		}

		&.has-dots-bottom {
			.dots2 {
				@include media('>=desktop') {
					left: 68%;
				}
			}
		}

		&.text-large {
			.col-text {
				.text-wrap {
					@include media('>=desktop') {
						margin-left: 0;
						margin-right: -244px;
					}
				}
			}
		}
		.col-image {
			@include media('>=desktop') {
				order: 1;
			}
		}

		.col-text {
			.text-wrap {
				@include media('>=desktop') {
					margin-left: 67px;
					margin-right: -252px;
				}
			}
		}
	}

	&.text-large {
		.col-text {
			.text-wrap {
				@include media('>=desktop') {
					margin-left: -244px;
					max-width: 699px;
				}
			}
		}
	}

	.container {
		position: relative;
	}

	.dots {
		position: absolute;
		z-index: -1;
		display: none;

		@include media('>=desktop') {
			display: block;
		}
	}

	.row {
		// align-items: flex-end;
	}

	.col {
		flex-basis: inherit;
		flex-grow: 0;

		.col-wrap {
			@include media('>=desktop') {
				// padding-top: 76%;
				padding-top: 85%;
			}
		}
	}

	.col-image {
		@include media('>=desktop') {
			width: 61.539%;
		}

		.img-wrap {
			border-radius: 50%;
			border: 27px solid rgba($lavender, 0.03);
			position: relative;
			padding: 20px;
			margin: 0 -25px -98px;
			z-index: 1;

			@include media('>=desktop') {
				border-width: 57px;
				padding: 38px;
				margin: 0;
				z-index: 0;
			}
			.img-overlay {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-repeat: no-repeat;
				background-size: cover;
				// opacity: 0.3;

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					opacity: 0.6;
				}
			}
			img {
				width: 100%;
				border-radius: 50%;
			}

			> img {
				position: relative;
			}
		}
	}

	.col-text {
		@include media('>=desktop') {
			width: 38.461%;
			display: flex;
			align-items: flex-end;
		}
		.text-wrap {
			@extend %background-gradient;
			// background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.01) 100%);
			// background: -moz-linear-gradient(-90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.01) 100%); /* FF3.6-15 */
			// backdrop-filter: blur(200px);
			// -moz-backdrop-filter: blur(200px);
			border-radius: 50px;
			padding: 118px 30px 20px;
			position: relative;

			@include media('>=desktop') {
				padding: 50px;
				max-width: 582px;
				margin-left: -228px;
				z-index: 2;
			}

			h2 {
				margin-bottom: 21px;
			}

			p {
				margin-bottom: 21px;
				line-height: 1.4;

				@include media('>=desktop') {
					margin-bottom: 32px;
				}
			}

			ul {
				li {
					margin-bottom: 10px;
				}
			}

			.form-wrap {
				@include media('>=desktop') {
					margin-top: 50px;
				}

				.gform_footer {
					input[type="submit"] {
						width: 100%;

						@include media('>=desktop') {
							width: auto;
						}
					}
					@include media('>=desktop') {
						margin-top: 28px;
					}
				}

				ul {
					li {
						margin-bottom: 20px;
					}
				}
			}

			.btn-wrap {
				text-align: center;

				@include media('>=desktop') {
					text-align: left;
				}
			}
		}
	}
}