// forms

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='number'],
//input[type='url'],
input[type='date'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 1px solid $form-element-border-color;
  padding: 5px 30px;
  width: 100%;
  outline: none;
  background: transparent;
  border-radius: 50px;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  color: $white;
  background: linear-gradient(137.53deg, rgba(97, 94, 155, 0.1) 6.73%, rgba(255, 255, 255, 0.1) 109.12%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 30px rgba(63, 42, 86, 0.3);
  border-radius: 50px;
  // &:hover {

  // }
  &:focus {
    // border-color: $form-element-focus-border-color;
    outline: none;
  }

  @include placeholder {
    color: rgba($white, 0.7);
  }
}

// input[type=number]{
//     &::-webkit-inner-spin-button {
//       opacity: 1;
//       display: none !important;
//   }
// }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: none;
  vertical-align: top;
  height: 180px;
  padding-top: 25px;
  border-radius: 30px;
}

// button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}


input[type='submit'] {
  @extend .btn;
}

.ginput_container_select,
.select-wrap {
  display: block;
  position: relative;
  // background: $white;
  border-radius: 50px;
  border: 1px solid $form-element-border-color;
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    padding: 8px 48px 6px 30px !important;
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 100%;
    outline: none;
    border-radius: 30px;
    transition: border 0.3s ease;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    color: $white;
    background: linear-gradient(137.53deg, rgba(97, 94, 155, 0.1) 6.73%, rgba(255, 255, 255, 0.1) 109.12%);

    &::-ms-expand {
      display: none;
    }
  }

  &:before{
    content:"";
    position: absolute;
    top: 50%;
    right: 31px;
    width: 14px;
    height: 14px;
    border-style: solid;
    border-width: 2px 2px 0 0;
    border-color: $white $white transparent transparent;
    // border-style: solid;
    // border-width: 7px 4px 0;
    // border-color: $primary transparent transparent transparent;
    transform: translateY(-50%) rotate(136deg);
    margin-top: -4px;
    display: none;
  }
  
  .select2-container,
  .selection {
    // height: 60px;
    // // display: inline-block;
    display: block;
  }
}

.woocommerce-input-wrapper {
  .select2-container--open {
    .select2-dropdown{
      margin-left: 1px;
      &.select2-dropdown--below {
        margin-top: -4px;
      }
      
      &.select2-dropdown--above {
        margin-top: 1px;
      }
    }
  }
}

.input-wrap {
  margin-bottom: 20px;

  label {
    font-weight: 500;
  }

  .name {
    font-size: 12px;
  }
}

input[type = "checkbox"] {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label,
  & + span {
    position: relative;
    cursor: pointer;
    display: block;
    padding: 1px 0 0 40px !important;
    // font-weight: 700;
    min-height: 20px;
    color: $white;
  }

  // Box.
  & + span:before,
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-bottom;
    position: absolute;
    top: 3px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: $white;
    border: 1px solid rgba($white, 0.5);
  }


  // Box checked
  &:checked + span:before,
  &:checked + label:before {
    background: $primary;
    border-color: $primary;
  }

  // Checkmark. Could be replaced with an image
  &:checked + span:after,
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 8px;
    width: 11px;
    height: 5px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: $white $white transparent transparent;
    transform: rotate(136deg);
  }
}

input[type = "radio"] {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    display: block;
    padding: 2px 0 0 33px !important;
  }

  // Box.
  & + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    // background: #d8d8d8;
    border: 1px solid rgba($white, 0.5);
  }

  // Box hover
  // &:hover + label:before {
  //   background: black;
  //   border-color: black;
  // }

  &:checked + label:before {
    border-color: $primary;
  }

  // Box checked
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $primary;
  }
}


.gform_wrapper {
  ul {
    list-style: none;
    padding: 0;
  }

  .gform_fields{
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
  }

  .gfield {
    position: relative;
    width: 100%;
    margin: 0 10px 20px;

    @include media('>=tablet') {
      margin-bottom: 24px;
    }

    &.gfield_error{
      input, textarea, select {
        border-color: $red;
      }
      .ginput_container_select, .select-warp {
        border-color: $red;
      }

      .gfield_label {
        color: $red;
        .gfield_required {
          color: $red;
        }
      }
      &.focus {
        input,textarea {
          border-color: $red;
        }

        .gfield_label {
          .gfield_required {
            color: $gray;
          }
        }

      }
    }

    &.label-no-change {
      .gfield_label {
        position: static !important;
        font-size: 16px;
        font-weight: 700;
        margin: 0 0 10px;
      }
    }

    &.full-width {
      .gfield_radio {
        li {
          width: 100%;

          & + li {
            margin-left: 0;
          }
        }
      }
    }

    &.gfield--width-half,
    &.col-half {
      @include media('>=tablet') {
        width: calc(50% - 20px);
      }
    }

    // .gfield_label {
    //   position: absolute;
    //   top: 12px;
    //   left: 15px;
    //   margin: 0;
    //   transition: all 0.2s ease;
    //   color: rgba($white, 0.5);
    //   // font-family: $dm-sans-font;
    //   font-weight: 400;
    //   font-size: 16px;

    //   @include media('>=desktop') {
    //     // top: 17px;
    //     top: 14px;
    //   }

    //   @include media('>=widescreen') {
    //     top: 17px;
    //   }

    //   .gfield_required {
    //     margin: 0;
    //     color: $gray;
    //   }
    // }

    .gfield_label {
      position: static;
      color: $primary;
      font-size: 22px;
    }

    &.hidden_label {
      .gfield_label {
        display: none !important;
      }
    }

    &.gfield-select {
      .gfield_label {
        font-weight: 700;
        top: -6px;
        color: $gray;
        font-size: 12px;
        left: 8px;
        background: $white;
        padding: 0 5px;
        z-index: 2;
      }
    }

    &.focus,
    &.float {
      .gfield_label {
        font-size: 12px;
        padding: 0 5px;
        background: $white;
        top: -6px;
        left: 9px;
        color: $gray;
        font-weight: 700;
      }
    }

    &.focus {
      input,textarea {
        // border-color: rgba($white, 0.5);
      }
    }
  }

  label {
    display:inline-block;
    vertical-align:middle;
    margin-bottom: 5px;
  }

  .gfield_radio {
    @extend %listreset;
    li {
      display:inline-block;
      vertical-align:top;
      margin-bottom: 12px;
      margin-right: 15px;

      @include media('>=tablet') {
        margin-right: 35px;
      }

      &:last-child {
        margin-right: 0;
      }

      // & + li {
      //   margin-left: 35px;
      // }
    }
  }

  .gfield_checkbox {
    @extend %listreset;

    li {
      margin-bottom: 12px;
    }
  }
}

.validation_error {display: none;}
.validation_message {
  font-size: 12px;
  color: $red;
  margin: 5px 0 0 15px;
  position: relative;
  // background: #dae1e5;
  // padding: 10px;

  // &:before {
  //   content:"";
  //   position: absolute;
  //   top: -10px;
  //   right: 0;
  //   width: 0;
  //   height: 0;
  //   border-style: solid;
  //   border-width: 0 0 10px 10px;
  //   border-color: transparent transparent #dae1e5 transparent;
  // }
}

.gform_footer {
  position: relative;
  // text-align: right;
  // display: inline-block;
}

.gform_ajax_spinner {
  position: absolute;
  top: 50%;
  // right: -20px;
  margin-left: 15px;
  transform: translateY(-50%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.gform_confirmation_message {
  text-align: center;
  font-size: 20px;
  color: $white;
}

.upload-files {
  .ginput_container_fileupload {
    position: relative;
  }

  .file-select-name {
    border: 1px solid $form-element-border-color;
    height: 43px;
    border-radius: 30px;
    padding: 8px 35px;
    color: $white;
    font-size: 16px;
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background: transparent;
    font-size: 0;
    -webkit-appearance: none;
    opacity: 0;
  }
}

.select2-dropdown {
  z-index: 1;
  
  &--above {
    .select2-results__options {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      // @include media('>=desktop') {
      //   border-top-left-radius: 30px;
      //   border-top-right-radius: 30px;
      // }
    }
  }
  
  &--below {
    .select2-results__options {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      
      // @include media('>=desktop') {
      //   border-bottom-left-radius: 30px;
      //   border-bottom-right-radius: 30px;
      // }
    }
  }
}

.select2-results{
  &__option {
    color: $deep-purple;
    padding: 7px 15px;

    & + li {
      // margin-top: 10px;
    }
  }
}

.select2-container--default {
  &.select2-container--open {
    // background: $lavender;
    margin: -1px 0 0 -1px;
    
    &.select2-container{
      &--above {
        border-radius: 0 0 30px 30px;
      }
      
      &--below {
        border-radius: 30px 30px 0 0;
      }
    }
    
    .select2-selection--single {
      background: $lavender;
      .select2-selection__rendered {
        color: $primary;
      }
      .select2-selection__arrow {
        margin-top: 4px;
        b {
          border-width: 2px 2px 0 0;
          border-color: $primary $primary transparent transparent;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }

  .select2-selection--single {
    // display: block;
    display:inline-block;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px 48px 6px 30px !important;
    cursor: pointer;
    position: relative;
    // z-index: 1;
    width: 100%;
    outline: none;
    border-radius: 30px;
    transition: border 0.3s ease;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    color: $white;
    background: linear-gradient(137.53deg, rgba(97, 94, 155, 0.1) 6.73%, rgba(255, 255, 255, 0.1) 109.12%);

    .select2-selection__rendered {
      height: 44px;
      padding: 8px 0;
      color: $white;
      // display: inline-block;
      // vertical-align: top;

      @include media('<tablet') {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .select2-selection__arrow {
      // display: none;
      width: 12px;
      height: 12px;
      top: 50%;
      // right: 31px;
      right: 22px;
      transform: translateY(-50%);
      margin-top: -4px;
      
      b {
        width: 14px;
        height: 14px;
        border-style: solid;
        border-width: 2px 2px 0 0;
        border-color: $white $white transparent transparent;
        transform: translateY(-50%) rotate(136deg);
        left: 0;
        right: 0;
        margin: 0;
      }
    }
  }

  .select2-results__option--selected,
  .select2-results>.select2-results__options {
    background: $lavender;
  }
  
  .select2-results__option--selected {
    display: none !important;
  }

  .select2-results>.select2-results__options {
    // padding: 10px 0;
    // padding: 7px 20px 7px 30px;
    
    max-height: 100%;
  }
  
  .select2-results__option {
    padding: 7px 20px 7px 30px;
  }

  .select2-results__option--highlighted.select2-results__option--selectable {
    background: $primary;
    color: $white;
  }
  
  .select2-results>.select2-results__options {
    overflow-x: hidden;
  }
}

.select2-container--open .select2-dropdown{
  border: none;
  // border-radius: 30px;
  max-height: 164px;
  overflow-y: auto;
  overflow-x: hidden;
  background: $lavender;
  
  &.select2-dropdown {
    &--above {
      border-radius: 30px 30px 0 0;
    }
    
    &--below {
      border-radius: 0 0 30px 30px;
    }
    
  }
}

// .select2-results {
//   margin: -1px 0 0 -1px;
// }

.gform_validation_errors {
  .gform_submission_error  {
    font-size: 18px !important;
    color: $red;
  }
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  border-radius: 5px;
}

.alert-danger {
  color: $red;
}

.alert-success {
  color: $green !important;
}

.error {
  font-size: 14px;
  color: $red;
  margin-top: 5px;
}